<div class="menu menu_activeDELETE">
    <div>
        <header class="menu__header user">
            <div class="user__info">
                <div class="user__picture bg-picture"></div>
                <div class="user__description">
                    <div class="user__wrapper">
                        <div class="user__name">Mr Aboba</div>
                        <div class="user__status">Set Emojii Status</div>
                    </div>
                    <div class="user__show-switch-user-block-btn"></div>
                </div>
            </div>

            <div class="user__switch-user-block">
                <ul class="list">
                    <li class="list__item">
                        <div class="bg-picture user__bg-picture"></div>
                        <div class="user__name">user1</div>
                    </li>
                    <li class="list__item">
                        <div class="bg-picture user__bg-picture"></div>
                        <div class="user__name">user2</div>
                    </li>
                    <li class="list__item user__add-new-user-btn">
                        <div class="bg-picture user__add-user-bg-picture"></div>
                        <div class="user__name">Add Account</div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="menu__content">
            <ul class="list">
                <li class="list__item">
                    <div class="user__name">New group</div>
                </li>
                <li class="list__item">
                    <div class="user__name">New Channel</div>
                </li>
                <li class="list__item">
                    <div class="user__name">Contacts</div>
                </li>
                <li class="list__item">
                    <div class="user__name">Calls</div>
                </li>
                <li class="list__item">
                    <div class="user__name">Saved Messages</div>
                </li>
                <li class="list__item">
                    <div class="user__name">Settings</div>
                </li>
                <li class="list__item list__grid-row">
                    <div class="user__name">Night Mode</div>
                    <div class="night-mode-btn"></div>
                </li>
            </ul>
        </div>
    </div>
    <footer class="menu__footer">
        <div class="menu__footer-app-name">Telegram Web by abc  </div>
        <div class="menu__footer-app-version">Version 0.0.228</div>
    </footer>
</div>