@use '../vars' as *;

.chat {
  cursor: pointer;
  user-select: none;

  min-height: 62px;
  padding: 0 $chats-block-side-padding;

  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;

  &:hover {
    background-color: $hoverColor;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    flex-grow: 1;

    overflow: hidden;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__name, &__last-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__name {
    font-weight: 600;
  }

  &__last-message {
    color: $lightgrey;
  }

  &__additional-info {
    display: flex;
    gap: 4px;
    flex-shrink: 0;
  }

  &__sent-message-status {
    border: 1px solid blue;

    &_sent {
      &::before {
        content: "1";
      }
    }

    &_sent-and-received {
      &::before {
        content: "2";
      }
    }
  }

  &_pinned {
    width: 12px;
    height: 12px;
    border: 1px solid blue;
  }

  &_active {
    background-color: #419fd9 !important;

    $t: 0.8s;

    transition: background-color $t, color $t;

    * {
      color: white;
    }
  }

  &_hidden {
    display: none;
  }
}